<h1>My Favorites</h1>

<% foo.forEach(function(baz) { %>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p><%= baz.name %>
    | <a href="/pokemon/<%= baz.id %>" class="delete-link">Delete</a>
  </p>
  </div>
</div>
<hr>
<% }); %>
