<h1>My Favorites</h1>

<% foo.forEach(function(baz) { %>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p><%= baz.name %></p>
    <!-- <a href="/teams/<%= baz.id %>">Team Details</a>
    | <a href="/teams/<%= baz.id %>" class="delete-link">Delete</a>
    | <a href="/teams/<%= baz.id %>/edit" class="put-form">Edit</a> -->
  </div>
</div>
<hr>
<% }); %>
